@import '_variables.scss';

.header {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(43,112,201,1) 100%);
  position: relative;
	padding: 20px 0;
	width: 100%;
  &::before {
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: 3px;
      left: 0;
      z-index: 2;
  }
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
	}
	&__logo {
		display: inline-block;
	}
	&__title {
		font-size: 24px;
		line-height: 1.4;
		font-weight: bold;
		color: #fff;
		letter-spacing: .06em;
	}
}

